/*------------
    RESET
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------
    GENERAL
-------------*/
body{
    font-family: "Open Sans", sans-serif;
}
/*------------
    HEADER
-------------*/
header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
}

header a{
    margin: 0 10px 0 10px;
}

a{
    text-decoration: none;
    color: #464646;
}

button{
    background-color: #0D61FF;
    font-family: "Open Sans", sans-serif;
    color: white;
    border: none;
    padding: 8px;
}
/*------------
    MAIN
-------------*/
main{
    background-color: #B4D0E7;
    padding: 70px;
}

.container-1200{
    max-width: 63%;
    margin: auto;
}

h1{
    font-size: 45px;
    display: block;
}

.hero{
    display: flex;
    margin-top: 50px;
    margin-bottom: -150px;
    border: dashed;
}

.hero-left{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    border: dashed;
    color: #464646;
}

.hero-left *:not(p){
    margin-top: 20px;
}

.fa-arrow-down{
    color: black;
    font-size: 40px;
}

.hero-right{
    max-width: 65%;
    border: dashed;
}

.hero-right img{
    max-width: 100%;
}