/*------------
    RESET
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------
    GENERAL
-------------*/
body{
    font-family: "Open Sans", sans-serif;
}

.fa-solid{
    color: black;
}
/*------------
    HEADER
-------------*/
header{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
}

header a{
    margin: 0 10px 0 10px;
}

a{
    text-decoration: none;
    color: #464646;
}

button{
    background-color: #0D61FF;
    font-family: "Open Sans", sans-serif;
    color: white;
    border: none;
    padding: 8px;
}
/*------------
    HERO
-------------*/
#hero-section{
    background-color: #B4D0E7;
    padding: 70px;
    margin-bottom: 100px;
}

.container-1200{
    max-width: 1200px;
    margin: auto;

}

h1{
    font-size: 45px;
    display: block;
}

.hero{
    display: flex;
    margin-top: 50px;
    margin-bottom: -150px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    color: #464646;
}

.hero-left *:not(p){
    margin-top: 40px;
    max-width: 250px;
}

.fa-arrow-down{
    color: black;
    font-size: 40px;
}

.hero-right{
    max-width: 65%;
}

.hero-right img{
    max-width: 100%;
}
/*------------
    MAIN
-------------*/
.container-1000{
    max-width: 1000px;
    margin: auto;
}

h2{
    font-size: 35px;
    margin-bottom: 50px;
}

section input{
    margin-bottom: 45px;
}

.input-special{
    margin-left: 40px;
}

.col-33 > *{
    border: solid #464646;
    padding: 6px 20px;
}

.business-plan{
    color: #464646;
}

.black{
    color: black;
}

.business-plan-title{
    text-align: center;
}

.business-plan-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-top: none;
}


